<div class="container centered">

  <h1>NEW GAME</h1>

  <div class="grid">
    <ul>
      <% @letters.each do |letter| %>
        <li> <%= letter %> </li>
      <% end %>
    </ul>
  </div>

  <h3>What is the longest word you can find?</h3>

  <div class="user-input">
    <form action="/score" method="POST">
      <input type="text" name="guess" class="user-guess">
      <input type="submit" value="Play" class="button">
      <%= hidden_field_tag :grid, @letters %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>

</div>
